table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #1a1a1aff;
  text-align: center;
  font: bold 100% sans-serif;
}

thead th:nth-child(1) {
  width: 8%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}

thead th:nth-child(2) {
  width: 15%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}

thead th:nth-child(3) {
  width: 20%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}

th, td {
  padding: 5px;
  border: 1px solid #1a1a1aff;
}

tbody td {
  width: 20%;
}

#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}
