.advertencia{
    background-color: #000000cc;
    color: #e4e3e3ee;
    border: 10px solid #f1ee10;
}
.alarma{
    background-color: #000000cc;
    color: #e4e3e3ee;
    border: 10px solid #b80b0eff;
}

.swal-text{
    color: #afafaf;
    font-size: 26px;
    font-weight: bold;
}

.swal-title {
    color: #e4e3e3ee;
    font-size: 26px;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #49a7b3;
    font-size: 12px;
    border: 1px solid #49a7b3;
    text-shadow: 0px -1px 0px #0000004d;
  }

.swal-overlay {
  background-color: #a0212100;
}