#svg circle {
  transition: stroke-dashoffset 1s linear;
  stroke: #1a1a1a;
  stroke-width: 2.5;
}
#svg #bar1 {
  stroke: #ffffffff;
}
#svg #bar2 {
  stroke: #0070c0ff;
}
#svg #bar3 {
  stroke: #7030a0ff;
}
#svg #bar4 {
  stroke: #00b0f0ff;
}
