
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #1a1a1aff;
    text-align: center;
    font-family: sans-serif;
  }

  thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #1a1a1aff;
    color: #2d8ac0ff;
    font-family: sans-serif;
  }

  thead th:nth-child(1),
  thead th:nth-child(2),
  thead th:nth-child(3),
  thead th:nth-child(4),
  thead th:nth-child(5) {
    width: 5%;
    font-size: 90%;
  }

  thead {
    text-align: center;
  }

  th, td {
    padding: 2px;
    border: 0.5px solid #1a1a1aff;
  }

  tbody td {
    width: 5%;
    font-size: 80%;
  }

  #table-scroll {
    height: 100px;
    overflow: auto;
    margin-top: 5px;
  }


::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar principal */
}

::-webkit-scrollbar-thumb {
  background-color: #2d8ac0ff; /* Color del thumb (barra deslizadora) */
  border-radius: 4px; /* Borde redondeado del thumb */
  border: none
}
