.switch {
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.5s;
}

.slider:before {
    position:absolute;
    content:"";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
}

input:checked + .slider{
    background-color: #2196f3;
    
}

input:checked + .slider:before{
    transform:translateX(26px);
}

.slider.rounded{
    border-radius: 34px;
}

.slider.rounded:before{
    border-radius: 50%;
}

