table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #1a1a1aff;
  text-align: center;
  font: bold 100% sans-serif;
}

thead th:nth-child(1) {
  width: 15%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}

thead th:nth-child(2) {
  width: 7%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}

thead th:nth-child(3) {
  width: 7%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}

thead th:nth-child(4) {
  width: 15%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}
thead th:nth-child(5) {
  width: 15%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}
thead th:nth-child(6) {
  width: 15%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}
thead th:nth-child(7) {
  width: 18%;
  text-align: center;
  background-color: #1a1a1aff;
  color:#2d8ac0ff;
  font: bold 110% sans-serif;
}


th, td {
  padding: 5px;
  border: 1px solid #1a1a1aff;
}

#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

#operativo {
  background-color: #1aea78ff;
  color:#ffffffff;
}
#deshabilitado {
  background-color: #ff9955ff;
  color:#020202ff;
}
#mantenimiento {
  background-color: #9955ffff;
}
#almpreventiva {
  background-color: #ffcc00ff;
  color:#020202ff;
}
#alarma {
  background-color: #ff0000ff;
}
#apagado {
  background-color: #4d4d4dff;
}

